[submodule "OfflineKaraokeClient"]
	path = OfflineKaraokeClient
	url = git@github.com:vitrukroman/OfflineKaraokeClient.git
	branch = master
[submodule "OfflineKaraokeAPI"]
	path = OfflineKaraokeAPI
	url = git@github.com:vitrukroman/OfflineKaraokeAPI.git
	branch = master
[submodule "OfflineKaraokeRenderer"]
	path = OfflineKaraokeRenderer
	url = git@github.com:vitrukroman/OfflineKaraokeRenderer.git
	branch = master
